/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.sfc {
  background-image: url('/img/sfc.webp');
  background-size: cover;
  background-position-y: 20%;
  background-position-x: center;
  min-height: 400px;
  background-repeat: no-repeat;
  color: white;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
